.block{
	display: block;
}
a.navbar-brand.logo{
	display: inline-block;
	font-size: 30px;
	padding-left: 60px;
}
span.angular{
    color: #e24444;
    text-decoration: none;
    font-weight: bold;
}
span.node{
	text-decoration: none;
    color: #43a243;
}
.navbar.navbar-inverse{
	margin-bottom: 0px;
	background-color: #eee;
	border:none;
	padding: 15px 0px;
}
span.active{
	font-weight: bold;
	font-size: 16px;
}
li:hover a{
	cursor: pointer;
	color: #000;
}
li.list-group-item:hover{
	background-color: #eee;
}
.panel {
    margin-bottom: 0px; 
    background-color: #fff;
    border-radius: 5px;
    padding: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.dropdown-menu.block{
	padding: 0;
}
a.navbar-brand{
	padding: 15px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color: #eee;
	color:#000;
}

.formsearch{
	position: relative;
}
.resultsearch{
	position: absolute;
    width: 100%;
    background-color: #fff;
    top: 35px;
    z-index: 999;
}
.detail{
    float: left;
    clear: both;
    border-bottom: dashed 1px #ccc;
    padding: 10px;
}
.detail img{
	float: left;
    margin-right: 10px;
    border: solid 1px #ccc;
    padding: 5px;
    width: 75px;
}
.detail h2{
	font-size: 13px;
    margin: 8px auto;
    color: #0574BB;
}
.detail span{
	color: red;
    font-weight: bold;
}
.detail img:hover, .detail h2:hover{
	cursor: pointer;
}