.block{
	display: block;
}
a.navbar-brand.logo{
	display: inline-block;
	font-size: 30px;
	padding-left: 60px;
}
span.book{
    color: #e24444;
    text-decoration: none;
    font-weight: bold;
}
span.store{
	text-decoration: none;
    color: #43a243;
}
.navbar.navbar-inverse{
	margin-bottom: 0px;
	background-color: #eee;
	border:none;
	padding: 15px 0px;
}
span.active{
	font-weight: bold;
	font-size: 16px;
}
li:hover a{
	cursor: pointer;
	color: #000;
}
li.list-group-item:hover{
	background-color: #eee;
}
.panel {
    margin-bottom: 0px; 
    background-color: #fff;
    border-radius: 5px;
    padding: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.dropdown-menu.block{
	padding: 0;
}
a.navbar-brand{
	padding: 15px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color: #eee;
	color:#000;
}