<div class="menu">
	<div class="cate">Danh mục
		<i class="fa" 
			[ngClass]="{'fa-minus':arrayMenu.indexOf('cate')>-1, 'fa-plus':arrayMenu.indexOf('cate')<=-1}" 
			style="float: right;" 
			(click)="onToggle('cate')">
		</i>
	</div>
	<div class="nav nav-pills nav-stacked" *ngIf="arrayMenu.indexOf('cate')>-1">
		<li *ngFor="let item of cateMenu">
			<a [routerLink]="['/danh-muc',item?.slug]">{{item?.name}} - ({{item?.item}})</a>
		</li>
	</div> 
	<br>
	<div class="cate">Nhà sản xuất
		<i class="fa" 
			style="float: right;" 
			[ngClass]="{'fa-minus':arrayMenu.indexOf('brand')>-1, 'fa-plus':arrayMenu.indexOf('brand')<=-1}" 
			(click)="onToggle('brand')">
		</i>
	</div>
	<div class="nav nav-pills nav-stacked" *ngIf="arrayMenu.indexOf('brand')>-1">
		<li *ngFor="let item of brandMenu">
			<a [routerLink]="['/nha-san-xuat',item?.slug]">{{item?.name}} - ({{item?.item}})</a>
		</li>
	</div> 
	<br>
	<div class="cate">Giới tính
		<i class="fa" 
			[ngClass]="{'fa-minus':arrayMenu.indexOf('gender')>-1, 'fa-plus':arrayMenu.indexOf('gender')<=-1}" 
			style="float: right;" 
			(click)="onToggle('gender')">
		</i>
	</div>
	<div class="nav nav-pills nav-stacked" *ngIf="arrayMenu.indexOf('gender')>-1">
		<li>
			<a [routerLink]="['/gioi-tinh/nam']">Nam</a>
			<a [routerLink]="['/gioi-tinh/nu']">Nữ</a>
		</li>
	</div> 
</div>
