<form [formGroup]="formAdd" (ngSubmit)="onSubmit(formAdd.value)">
	<legend>Thêm sản phẩm</legend>
	<div class="form-group">
		<label>Danh mục</label>
		<select #id (change)="onChangeCategory(id.value)" class="form-control" formControlName="sltCategory">
			<option value="">Vui lòng chọn.</option>
			<option value="{{item?._id}}" *ngFor="let item of categories">{{item?.name}}</option>
		</select>	
	</div>
	<div class="form-group">
		<label>Nhà sản xuất</label>
		<select class="form-control" formControlName="sltBrand">
			<option value="">Vui lòng chọn.</option>
			<option value="{{item?._id}}" *ngFor="let item of brands">{{item?.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<label>Màu sắc</label><br>
		<span class="size-color" 
			(click)="toggle(item, 'color')" 
			*ngFor="let item of colors" 
			[ngClass]="{'border-selected':colorsChecked.indexOf(item)>-1}"
			[ngStyle]="{'background-color':item}">
		</span>
	</div>
	<div class="form-group" *ngIf="choiseShoesProduct">
		<label>Kích cỡ giày</label><br>
		<span class="size-color" 
			(click)="toggle(item, 'size')" 
			*ngFor="let item of sizeShoes" 
			[ngClass]="{'border-selected':sizesChecked.indexOf(item)>-1}"
		>
			{{item}}
		</span>
	</div>
	<div class="form-group" *ngIf="choiseClothesProduct">
		<label>Kích cỡ quần áo</label><br>
		<span class="size-color" 
			(click)="toggle(item, 'size')" 
			*ngFor="let item of sizeClothes" 
			[ngClass]="{'border-selected':sizesChecked.indexOf(item)>-1}"
		>
			{{item}}
		</span>
	</div>
	<div class="form-group">
		<label>Tên sản phẩm</label>
		<input type="text" class="form-control" formControlName="txtName" placeholder="Vui lòng nhập tên sản phẩm.">
		<span class="label label-danger"
			*ngIf="formAdd.controls.txtName.touched && formAdd.controls.txtName?.errors?.required"
		>Vui lòng nhập tên sản phẩm.</span>
	</div>
	<div class="form-group">
		<label>Chức năng chính</label>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<input type="text" class="form-control" #array placeholder="Vui lòng nhập chức năng chính.">
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<button type="button" class="btn btn-success" (click)="pushUse(array)">
					Thêm
				</button>
			</div>
		</div>
		<span class="label label-success" *ngFor="let item of useArray">{{item}}</span>
	</div>
	<div class="form-group">
		<label>Giới tính</label>
		<div class="radio">
			<label>
				<input type="radio" formControlName="txtGender" name="txtGender" value="Nam">
				Nam
			</label>
			<label>
				<input type="radio" formControlName="txtGender" name="txtGender" value="Nữ">
				Nữ
			</label>
		</div>
	</div>
	<div class="form-group">
		<label>Giới thiệu</label>
  		<ckeditor formControlName="txtBody" [config]="{extraPlugins: 'divarea'}">
			<ckbutton [name]="'saveButton'"
			[command]="'saveCmd'"
			[label]="'Save Document'"
			[toolbar]="'clipboard,1'">
			</ckbutton>
		</ckeditor>
		<span class="label label-danger"
			*ngIf="formAdd.controls.txtBody.touched && formAdd.controls.txtBody?.errors?.required"
		>Vui lòng nhập mô tả.</span>
	</div>
	<div class="form-group">
		<label>Thông tin chi tiết</label>
  		<ckeditor formControlName="txtDescription" [config]="{extraPlugins: 'divarea'}">
			<ckbutton [name]="'saveButton'"
			[command]="'saveCmd'"
			[label]="'Save Document'"
			[toolbar]="'clipboard,1'">
			</ckbutton>
		</ckeditor>
		<span class="label label-danger"
			*ngIf="formAdd.controls.txtDescription.touched && formAdd.controls.txtDescription?.errors?.required"
		>Vui lòng nhập mô tả.</span>
	</div>
	<div class="form-group">
		<label>Giá</label>
		<input type="number" class="form-control" formControlName="txtPrice" placeholder="Vui lòng nhập giá.">
		<span class="label label-danger"
			*ngIf="formAdd.controls.txtPrice.touched && formAdd.controls.txtPrice?.errors?.required"
		>Vui lòng nhập giá.</span>
	</div>
	<div class="form-group">
		<label>Giá khuyến mãi</label>
		<input type="number" class="form-control" formControlName="txtPromotionPrice" placeholder="Vui lòng nhập giá khuyến mãi (nếu có).">
	</div>
	<div class="form-group">
		<label>Số sản phẩm</label>
		<input type="number" class="form-control" formControlName="txtStockItems" placeholder="Vui lòng nhập số sản phẩm.">
		<span class="label label-danger"
			*ngIf="formAdd.controls.txtStockItems.touched && formAdd.controls.txtStockItems?.errors?.required"
		>Vui lòng nhập số lượng sản phẩm.</span>
	</div>
	<div class="form-group">
		<label>Hình ảnh mới</label>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<input #myImage type="file" class="form-control">
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<button type="button" class="btn btn-success"
					*ngIf="!uploadNewImg" (click)="onUploadNewImage()"
				>
					Tải ảnh
				</button>
			</div>
		</div>
		<img class="img-responsive edit" src="{{urlImg}}" *ngIf="uploadNewImg">
	</div>
	<div class="form-group">
		<label>Hình ảnh chi tiết (3 ảnh)</label>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<input #myImageDetail type="file" class="form-control" multiple>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<button type="button" class="btn btn-success"
					*ngIf="!uploadNewDetailImg" (click)="onUploadNewImageDetail()"
				>
					Tải ảnh
				</button>
			</div>
		</div>
		<div *ngIf="uploadNewDetailImg">
			<img 
			*ngFor="let item of imageDetail" 
			class="img-responsive edit" 
			src="http://localhost:3000/api/product/images-detail/{{item}}" 
			>
			<!-- src="https://apimean.com/api/product/images-detail/{{item}}"  -->
		</div>
	</div>
	<!-- <button type="submit" class="btn btn-primary btn-lg" [disabled]="formAdd.invalid">Thêm</button> -->
	<button type="submit" [disabled]="formAdd.invalid" class="btn btn-primary btn-lg">Thêm</button>
</form>