.breadcrumps{
	width: 100%;
}

.services{
	background: #f6f6f6;
    border: 1px solid #eaeaea;
    padding: 19px 0;
    font-size: 12px;
    float: left;
    width: 100%;
    margin: 20px auto;
}

.service-item{
	border-right: 1px solid #000;
    padding-left: 45px;
}
.service-item:last-child,{
	border-right:none;
}
.service-item .img{
	width: 40px;
	height: 40px;
	float: left
}
.service-item .info{
	padding-left: 15px;
    margin-left: 40px;
    padding-top: 2px;
}
.service-item .info h3{
	font-size: 18px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
}
