<div class="breadcrumps">
	<div class="row services">
		<div class="col-xs-6 col-sm-3 service-item">
			<div class="img">
				<img src="assets/img/icon/s1.png" alt="">
			</div>
			<div class="info">
				<h3>Miễn phí giao hàng</h3>
				<span>Đơn hàng 200.000đ</span>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 service-item">
			<div class="img">
				<img src="assets/img/icon/s2.png" alt="">
			</div>
			<div class="info">
				<h3>Uy tín</h3>
				<span>7 ngày trả hàng</span>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 service-item">
			<div class="img">
				<img src="assets/img/icon/s3.png" alt="">
			</div>
			<div class="info">
				<h3>Chuyên nghiệp</h3>
				<span>Hỗ trợ 24/7</span>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 service-item">
			<div class="img">
				<img src="assets/img/icon/s4.png" alt="">
			</div>
			<div class="info">
				<h3>An toàn</h3>
				<span>Đảm bảo thông tin</span>
			</div>
		</div>
	</div>
</div>
