.choice{
	padding: 10px 0;
	font-size: 16px;
}
.choice:hover{
	cursor: pointer;
}
.choice.active{
	border-bottom: 3px solid #561717;
	font-weight: bold;
}

.dropbtn{
    font-size: 14px
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1; color: black;}

.dropdown:hover .dropdown-content {
    display: block; background-color: #575656;
}

.help-block li {
    color: #a94442
}

.rate{
    font-size: 30px;
}
div.a{
    display: inline-block;
    background-color: rgb(0, 111, 186);
    margin: 2px;
    border-radius: 5px;
    color: rgb(0, 111, 186);
}

div.five{
    width: 80%;
}
div.four{
    width: 55%;
}
div.three{
    width: 30%;
}
div.two{
    width: 15%;
}
div.one{
    width: 7%;
}
div.zero{
    width: 3.5%;
}
.glyphicon-star{
    color: #fcd800;
    font-size: 16px;
}
.img-responsive{
    margin:auto ;
    width: 300px;
    height: 400px;
}
.info span{
    display: block;
}

.info span>a{
    color: #087b39
}

.infoprice{
    position: relative;
    margin-bottom: 20px
}
label{
    font-size: 15px;
}
span.priceDetail{
    position: absolute;
    right: 0;
}

div.button button{
    display: block;
    margin: 0 auto
}

.content{
    font-size: 16px;
    margin: 10px 0 10px;
}
div.description{
    font-size: 16px;
}
.comment{
    font-size: 16px;
}
h4{
    color:#43a243;
}
.name{
    font-size: 24px;
    color: #413F3F
}
.rating{
    margin-bottom: 5px;
}
::ng-deep .description ul { 
    float: left;
    width: 100%;
    list-style: square;
    margin:0;
    padding: 0;
    list-style-position: inside;
}
::ng-deep .description ul li{
    float: left;
    width: 50%;
}
::ng-deep .description ul li strong{
    width: 150px;
    display: inline-block;
}