<ul class="list-group">
	<li class="list-group-item" 
		[routerLink]="['/admin']" [class.active]="isSelected==0" 
		(click)="isSelected=0"
	>
		Dashboard
	</li>
	<li class="list-group-item" [class.active]="isSelected==1" (click)="isSelected=1">Danh mục</li>
		<ul *ngIf="isSelected == 1">
			<li class="list-group-item child" [routerLink]="['/admin/category/add']">Thêm</li>
			<li class="list-group-item child" [routerLink]="['/admin/category/list']">Danh sách</li>
		</ul>
	<li class="list-group-item" [class.active]="isSelected==2" (click)="isSelected=2">Nhà xuất bản</li>
		<ul *ngIf="isSelected == 2">
			<li class="list-group-item child" [routerLink]="['/admin/brand/add']">Thêm</li>
			<li class="list-group-item child" [routerLink]="['/admin/brand/list']">Danh sách</li>
		</ul>
	<li class="list-group-item" [class.active]="isSelected==3" (click)="isSelected=3">Sản phẩm</li>
		<ul *ngIf="isSelected == 3">
			<li class="list-group-item child" [routerLink]="['/admin/product/add']">Thêm</li>
			<li class="list-group-item child" [routerLink]="['/admin/product/list']">Danh sách</li>
		</ul>
	<li class="list-group-item" [class.active]="isSelected==4" (click)="isSelected=4">Người dùng</li>
		<ul *ngIf="isSelected == 4">
			<li class="list-group-item child" [routerLink]="['/admin/user/add']">Thêm</li>
			<li class="list-group-item child" [routerLink]="['/admin/user/list']">Danh sách</li>
		</ul>
	<li class="list-group-item" [class.active]="isSelected==5" (click)="isSelected=5">Đơn hàng</li>
		<ul *ngIf="isSelected == 5">
			<li class="list-group-item child" [routerLink]="['/admin/order/list']">Danh sách</li>
		</ul>	
</ul>