<div class="slider">
	<img src="assets/img/slider/slider-1.jpg" class="img-responsive" *ngIf="isActive===1">
	<img src="assets/img/slider/slider-2.jpg" class="img-responsive" *ngIf="isActive===2">
	<img src="assets/img/slider/slider-3.jpg" class="img-responsive" *ngIf="isActive===3">
	<ul class="list-slider">
		<li *ngFor="let item of slider" (click)="isActive=item" [class.active]="item===isActive">{{item}}</li>
	</ul>
	<i class="arrow fa fa-arrow-left" (click)="onClick(false)"></i>
	<i class="arrow fa fa-arrow-right" (click)="onClick(true)"></i>
</div>
<br>