div.slider{
    position: relative;
}
div.slider img.img-responsive{
	position: relative;
	height: 450px;
	width: 100%
}
input.form-control {
    width:  50%;
    position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 20px;
	text-align: center;
	font-size: 20px;
}

ul.list-slider {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 0;z-index: 5;
	left: 50%;
	transform: translateX(-50%);
}

ul.list-slider li{
	float: left;
	background-color: #fff;
	border: 2px solid #84C639;
	margin-right: 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	text-indent: -9999px;
}

ul.list-slider li.active{
	background-color: #84c63a;
}

i.arrow{
	position: absolute;
	font-size: 50px;
	color: #fff;
}
i.fa-arrow-left{
	left: 0;
}
i.fa-arrow-right{
	right: 0;
}
i.fa-arrow-right, i.fa-arrow-left{
	transform: translateY(-50%);
	top: 50%;
}